.wrapper {
  width: 100%;
  height: 100vh;
}

/*################
       Navbar
################*/
.navbar {
  background-color: white;
  padding: 0 1rem;
  min-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #777;
}

/*################
       button
################*/
.btn {
  border: none;
  cursor: pointer;
  outline: none;
}
.btn.btn-default {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: transparent;
}

/*################
       SearchBox
################*/
.searchBox > .btn {
  color: #c6c6c6;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.searchBox:hover > .btn {
  color: #777;
}
.searchBox_input {
  border: none;
  font-weight: bold;

  outline: none;
  color: #777;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 80%;
}
.searchBox {
  width: 40%;

  border: solid 1px #e7e7e7;
  z-index: 3;
  padding: 7px 7px 7px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.searchBox:hover {
  border: solid 1px #c6c6c6;
}
/*################
    user detail
################*/
.user-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.user-detail > p {
  font-size: 14px;
}
/*################
   Sidebar
################*/
.sidebar {
  width: 230px;
  min-width: 230px;
  padding-top: 5px;
  color: white;
  background: #665df8;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sidebar > .copyright {
  padding: 1rem;
  text-align: center;
}
.sidebar-wrapper > ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  height: 100%;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
  height: calc(100% - 57px);
  width: 100%;
}
.content {
  background-color: #f1f1f1;
  width: 100%;
  padding: 1rem;
}

.nav-link {
  color: #fff;
  padding: 0 20px;
  margin: 5px 10px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.nav-link_icon {
  padding-right: 10px;
}
.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
}
.nav-link.active {
  background: rgba(255, 255, 255, 0.2);
}
.nav-link > p {
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
}

/*################
   dropdown
################*/
.dropdown {
  position: relative;
}
.dropdown_menu {
  background: #eaeaea;
  position: absolute;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;

  min-width: 160px;
  border-radius: 20px;
  right: 0;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  opacity: 0;
}
.dropdown > .badge {
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 9px;
  padding: 2px 4px;
  border-radius: 50%;
  background: red;
  color: white;
}
.dropdown_menu > li {
  border: solid 1px white;
  background: white;
  padding: 10px 5px 5px 5px;
  margin-bottom: 2px;
  border-radius: 10px;
  font-size: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dropdown_menu > .badge_message {
  font-size: 10px;
  background: #623ef2;
  width: 20px;
  height: 20px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  color: white;
}
.dropdown_menu > .badge_notif {
  font-size: 10px;
  background: orange;
  padding: 2px;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dropdown_menu > .badge_notif.email {
  background: limegreen;
}
.dropdown_menu > .badge_notif.system {
  background: tomato;
}
.dropdown_btn {
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  padding: 5px;
  border: none;
  background: #fbfbfb;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  outline: none;
}
.dropdown_btn:hover {
  background: #e7e7e7;
}
.dropdown_menu--active {
  max-height: 1000px;
  opacity: 1;
}
/***********
 * UserPanel
 ***********/
.userPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 25%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
